<%- include('./header'); %>
    <header>
        <h1>Ntalk</h1>
        <h4>Lista de contatos</h4>
    </header>
    <section>
        <p>Você fez as coisas do jeito errado!</p>
    </section>
<%- include('./footer'); %>